In [ ]:
1. understaning the variables:

In [ ]:
# -- Comment out the lines -> hash is used for commenting the lines

In [2]:
x = 5
y = 3
x + y

8

In [ ]:
varibale --> Place holder to holding the value

In [ ]:
python is  case sensitive language

In [ ]:
Rules for variables:

In [ ]:
1) No name spaces in between the variable name declaration

In [5]:
first name = 'Ram'
Print (first name)

SyntaxError: invalid syntax (<ipython-input-5-f682a451b1c6>, line 1)

In [6]:
first_name = 'ram'
print (first_name)

ram

In [7]:
firstname = 'ram'
print (firstname)

ram

In [ ]:
2) Variable name sould not start with number ****

In [8]:
1name = 'kumar'
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-8c54e5cba2e2>, line 1)

In [ ]:
number can add in between or end of the variables

In [9]:
name1 = 'kumar'
print (name1)

kumar

In [ ]:
3) We should not use any special character while declaring the varibale name:

In [10]:
@first_name ='ram'
print(@first_name)

SyntaxError: invalid syntax (<ipython-input-10-76dcb1dcfc74>, line 1)

In [ ]:
Introduction to Data types:
    i) String - str
    ii) List - list
    iii) Tuple - tuple
    iv) Dictionary - dict

In [ ]:
Data type are broadly classified in to 2 categories:

In [ ]:
i) Mutable data types - edit/modify and alter the whe we needed.
ii) Immutable data types - No flexibility

In [ ]:
Introduction to sting dat types:

In [ ]:
Defination: A string is nothing but a series of cahracter it has been classified as 
            immutable data type

In [ ]:
How to define a string?
        String can declared in a three possible ways?
    i) Using single quotes
    ii) Using Double Quotes
    iii) using triple quotes

In [11]:
name1 = 'ram'
print(name1)

ram

In [14]:
name2 = "kumar"
print(name2)

kumar

In [15]:
name3 = """ramkumar"""
print(name3)

ramkumar

In [ ]:
we are flexible to use any quotes

In [ ]:
how to verify and validate what kind of dat types it is? -  type()

In [ ]:
Introduction to string methods:

In [16]:
type(name1)

str

In [17]:
type(name2)

str

In [ ]:
Requirement - to correct the  string formatting>

In [ ]:
# enhancement of the code:

In [18]:
name1 = 'ramkumar'
print(name1.title())

Ramkumar

In [ ]:
tilte() is a method to format

In [ ]:
requirement - total name converted to capitals m how to declare it?

In [19]:
name1 = 'ramkumar'
print(name1.upper())

RAMKUMAR

In [ ]:
requirement - How to bring down to the small case

In [20]:
name1 = 'RAMKUMAR'
print(name1.lower())

ramkumar